<div class="menu-container">
    <!--                    <div class="menu-header" data-i18n="login.menu_header">LOGIN MENU</div>-->
    <div class="menu-layout">
        <div class="menu-sidebar">
                             <span class="start-buttons">

                        <button id="login-scanner-btn" class="menu-item"
                                onclick="navigateAction('login-scanner-btn'); selectLoginMethod('scanner')"
                                data-i18n="login.scanner">Scanner
                        </button>
                        <button id="login-keyword-btn" class="menu-item active"
                                onclick="navigateAction('login-keyword-btn'); selectLoginMethod('keyword')"
                                data-i18n="login.keyword">Keyword
                        </button>

                                    </span>
            <span class="login-buttons">
                                        <button id="login-operator-btn" class="menu-item btn-green"
                                                onclick="navigateAction('login-operator-btn'); mockLogin('OPERATOR')">
                                            Login as OPERATOR
                                        </button>
                                        <button id="login-admin-btn" class="menu-item btn-yellow"
                                                onclick="navigateAction('login-admin-btn'); mockLogin('ADMIN')">Login as
                                            ADMIN
                                        </button>
                                        <button id="login-superuser-btn" class="menu-item btn-red"
                                                onclick="navigateAction('login-superuser-btn'); mockLogin('SUPERUSER')">
                                            Login as SUPERUSER
                                        </button>
                                        <button id="login-serviceuser-btn" class="menu-item btn-blue"
                                                onclick="navigateAction('login-serviceuser-btn'); mockLogin('SERVICEUSER')">
                                            Login as SERVICEUSER
                                        </button>

                                    </span>